{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <meta charset="UTF-8">
    <title>リモコン</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    {% block script %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'index' %}">Remocon</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item active">
              <a class="nav-link" href="{% url 'controller:tv_remocon' %}">TV</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="#">Light</a>
	    </li>
	  </ul>
	  <span class="navbar-text">
	    version 1.0
	  </span>
	</div>
      </nav>
    </header>
    <main>
      <div class="container">
	{% block content %}
	{% endblock %}
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
