{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}
<br>
<div class="">
  <div class="row">
    <div class="col">
      <center>
	<a href="{% url 'controller:tv_remocon' %}" style="color: #343a40;">
	  <i class="material-icons" style="font-size: 4rem;">tv</i>
	  <br>
	  AQUOS
	</a>
      </center>
    </div>
    <div class="col">
      <center>
	<a href="#!" style="color: gray;">
	  <i class="material-icons" style="font-size: 4rem;">wb_incandescent</i>
	  <br>
	  Light
	</a>
      </center>
    </div>
    <div class="col">
      <center>
	<a href="#!" style="color: gray;">
	  <i class="material-icons" style="font-size: 4rem;">toys</i>
	  <br>
	  AC
	</a>
      </center>
    </div>
    <div class="col">
      <center>
	<a href="#!" style="color: gray;">
	  <i class="material-icons" style="font-size: 4rem;">lock</i>
	  <br>
	  coming soon...
	</a>
      </center>
    </div>
  </div>
</div>
{% endblock %}
